<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th class="text-center" scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <ngb-highlight [result]="category.name" [term]="term"></ngb-highlight>
      </td>
      <td>{{ category.description }}</td>
      <td class="text-center">
        <app-dropdown
          [dropdownButtons]="dropdownButtons"
          (clicker)="onClick($event, category.id)"
        ></app-dropdown>
      </td>
    </tr>
  </tbody>
</table>
