<div class="login-container">
  <div class="login-card animate__animated animate__fadeInDown">
    <div class="card login-card">
      <div class="card-header login-card-header">
        <h3 class="text-center">Cambiar Contraseña</h3>
      </div>
      <div class="card-body login-card-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              formControlName="password"
              [ngClass]="{ 'is-invalid': isInvalid('password') }"
            />
            <small *ngIf="isInvalid('password')" class="text-danger">
              La contraseña es obligatoria
            </small>
          </div>
          <div class="mb-3">
            <label for="repeat-password" class="form-label"
              >Repetir Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="repeat-password"
              name="repeat-password"
              formControlName="confirmPassword"
              [ngClass]="{ 'is-invalid': this.form.hasError('match_password') }"
            />
            <small
              *ngIf="this.form.hasError('match_password')"
              class="text-danger"
            >
              Las contraseña no son iguales
            </small>
          </div>
          <div class="text-center">
            <app-button
              [text]="'Cambiar Contraseña'"
              [clase]="'btn-primary'"
              [idButton]="'changePassword'"
              [widthType]="'full'"
              (click)="changePassword()"
            ></app-button>
            <app-button
              [text]="'Iniciar Sesión'"
              [clase]="'btn-primary'"
              [idButton]="'login'"
              [widthType]="'full'"
              (clicker)="redirectTo('/auth/login')"
            ></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
